body {
    background-color: white;
    color: #000000;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.left-container{
    position: absolute;
    bottom: 0;
    left: 0;
}
.left-container img{
    position: absolute;
    bottom: 0;
    left: 0;
}

.upper-right-container{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
.upper-right-blob{
    position: absolute;
    top:0;
    right:0;
}
.upper-right-text{
    position: absolute;
    text-align: justify;
    z-index: 2;
    top: 21px;
    right: 30px;
    height: 100px;
    width: 800px;
    font-size: 24px;
    color: #ffffff;
}
.check-link{
    position: absolute;
    top: 140px;
    right: 30px;
    font-size: 32px;
    font-weight: 700;
    text-decoration: underline;
    color: #000000;
    letter-spacing: 3px;
}
.check-link:hover{
    color:#5c5c5c
}
.bottom-right-blob{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.bottom-right-text{
    color: #5c5c5c;
    text-align: justify;
    position: absolute;
    bottom: 0;
    right: 31px;
    z-index: 2;
    height: 95px;
    width: 522px;
    font-size: 24px;
    color: #ffffff;
}

.main-text{
    font-size: 20px;
    width: 1295px;
    height: 350px;
    text-align: justify;
    position: absolute;
    top: 420px;
    right: 65px;
    line-height: 25px;
}