body {
    background-color: white;
    color: #000000;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.left-container{
    position: absolute;
    bottom: 0;
    left: 0;
}
.left-container img{
    position: absolute;
    bottom: 0;
    left: 0;
}

.upper-right-container{
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    z-index: 1;
}
.upper-right-blob{
    position: absolute;
    top:0;
    right:0;
}
.upper-right-text{
    position: absolute;
    z-index: 2;
    top: 21px;
    right: 30px;
    height: 100px;
    width: 700px;
}
.check-link{
    position: absolute;
    top: 140px;
    right: 30px;
    font-size: 20px;
    text-decoration: underline;
    color: #000000;
}

.bottom-right-blob{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.bottom-right-text{
    color: #5c5c5c;
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 31px;
    z-index: 2;
    height: 75px;
    width: 350px;
}

.main-text{
    width: 750px;
    height: 350px;
    text-align: justify;
    position: absolute;
    top: 420px;
    right: 400px;
}