body {
    background-color: white;
    color: #000000;
    font-size: 16px;
    font-family: "Russo One", sans-serif;
    margin: 0;
}
.melanoma-definition{
    font-size: 40px;
    position: absolute;
    top: 105px;
    left: 75px;
    text-align: justify;
    width: 668px;
    height: 489px;
}
.warning-text{
    color: #787878;
    font-size: 36px;
    text-align: justify;
    position: absolute;
    top: 500px;
    left: 75px;
    width: 668px;
    height: 400px;
}
.content-block{
    background-color: #ababab;
    position: absolute;
    right: 75px;
    height: 100%;
    width: 825px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.file-upload-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border: 5px solid #565656;
    height: fit-content;
    width: fit-content;
}
.check{
    background-color: #ffffff;
    font-size: 65px;
    letter-spacing: 33px;
    width: 710px;
    height: 109px;
    border-bottom: 5px solid #565656;
    text-align: center;
    line-height: 109px;
    margin: 0;
}
.load-file-button{
    font-family: "Russo One", sans-serif;
    font-size: 24px;
    letter-spacing: 5px;
    width: 710px;
    height: 60px;
    border-radius: 0px;
    border-width: 1px;
    border-color: #000000;
    background-color: #ffffff;
}
.load-file-button:hover{
    cursor: pointer;
    color:#787878;
}
.submit-button {
    font-family: "Russo One", sans-serif;
    font-size: 24px;
    letter-spacing: 5px;
    width: 710px;
    height: 60px;
    border-radius: 0px;
    border-width: 1px;
    border-color: #000000;
    background-color: #ffffff;
}
.submit-button:hover{
    cursor: pointer;
    color:#787878;
}
.result{
    font-family: "Russo One", sans-serif;
    font-size: 32px;
    color: #ffffff;
    width: 710px;
    background-color: #ffffff;
    text-align: center;
    border-top: 5px solid #565656;
    line-height: 45px;
    letter-spacing: 5px;
}